<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cxf="http://camel.apache.org/schema/cxf"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://camel.apache.org/schema/cxf http://camel.apache.org/schema/cxf/camel-cxf-2.0-SNAPSHOT.xsd
         http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
    
    <bean id="rESTExposureEngine"
    	  class="com.blogspot.diegopacheco.roll.rest.service.engine.RESTExposureEngine" 
    	  init-method="doExposure"
    	  lazy-init="false" 
    >
    	<property name="service" ref="tollServiceImpl" />
    </bean>
    
    
    <bean id="uriUtils"
    	class="com.blogspot.diegopacheco.roll.rest.service.contract.impl.UriUtils" />
    <bean id="tollServiceImpl"
    	class="com.blogspot.diegopacheco.roll.rest.service.contract.impl.TollServiceImpl">
    	<property name="uriUtils" ref="uriUtils"/>
    </bean>
</beans>
